<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Dobrodošli na kviz</h1>
    <p class="col-md-8 fs-4">Kviz ima 9 pitanja. Svako pitanje nosi 10 poena</p>
    <h4>Pravila kviza:</h4>
    <ol>
        <li>Tačan odgovor donosi 10 poena</li>
        <li>Netačan odgovor donosi -10 poena</li>
        <li>Imate 60sec za svako od pitanja</li>
    </ol>
    <h1 style="font-family: cursive;text-align:center">Sve najbolje!</h1>
    <div class="name col-md-4 my-3">
        <label for="">Unesite ime:</label>
        <input #name type="text" class="form-control">
    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Započni kviz</button>
</div>
